# Dependabot reviewers (migrated from .github/dependabot.yml)
/action.yaml @CTaylor1118
/action.yml @CTaylor1118
/npm-shrinkwrap.json @CTaylor1118
/package-lock.json @CTaylor1118
/package.json @CTaylor1118
/pnpm-lock.yaml @CTaylor1118
/yarn.lock @CTaylor1118
/.github/workflows/*.yaml @CTaylor1118
/.github/workflows/*.yml @CTaylor1118
/**/.github/workflows/*.yaml @CTaylor1118
/**/.github/workflows/*.yml @CTaylor1118